@charset "UTF-8";
.menu {
  float: right;
}
.menu ul {
  margin: 0;
  padding: 0;
}
.menu li {
  display: inline-block;
}
.menu a {
  text-decoration: none;
}

/* Все остальное впринципе так же, как в scss
 * Но из-за того, что нет скоочек, надо четко следить 
 *     за пробелами и табами, иначе все очень легко поломается 
 *         CSS код в sass не вставишь. В scss вставишь.
 *             Файлы препроцессора в html НЕ подключаем - только css */
