.d-flex {
    display: flex;
    gap: 50px;
    align-items: center;
}
body {
    background-color: #333;
    color:white;
}
#diagram tr{
    display: flex;
    align-items: flex-end;
    gap: 20px;
}