.container {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    font-size: 22px;
}
button {
    display: block;
    margin: 20px;
    font-size: 22px;
    position: relative;
}
button:hover {
    cursor: pointer;
}
.tooltip {
    position: fixed;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    color: grey;
    background-color: antiquewhite;
    display: block;
    width: 50px;
    height: 50px;
}