.user-ul {
	text-align: left;
	font-size: 20px;
	display: flex;
	flex-direction: column;
}

.user-li {
	margin-bottom: 10px;
}


.user-li::before {
	content: '';
	width: 5px;
	display: inline-block;
}
